/*Selector {
	Property: value;
}*/

*{
	text-align: right;
}

h2 + p {

		color: #AA9439 ;
	text-align: center;
	border: 5px solid rgba(128, 124, 21, 0.5);
	cursor:pointer;
}

 p{
 	line-height: 15px;
 	font-style: italic;
 	font-weight:bold;
 	font-size: 150s%;
 	font-family: 'Fjalla One', sans-serif;
 }

 img{
 	float: right;
 }

 footer{
 	clear: both;
 	text-align: center;
 }
 li{
 	list-style: none;
 	display: inline-block;
 }

  .webtext:first-child {
  	 border: 5px dashed green ;
  }
  .active{
  	color: red; 
  }

  #div1{
  	background: rgba(0,0,255,0.2);
  }
  #div2{
  	background: rgba(255,0,0,0.2);
  }